<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../component/pear/css/pear.css" />
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">学号</label>
                    <div class="layui-input-block">
                        <input id="userId" type="text" name="userId" lay-verify="required|title" autocomplete="off"
                               placeholder="请输入学号" class="layui-input" lay-reqText="请输入学号">
                        <span id="userIdTips" style="text-align: center;right: 0;border-radius: 1px;
                        color: #ff5722;font-size: 16px;display: none">该学生已存在</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input type="text"  name="realName" lay-verify="required|title" autocomplete="off"
                               placeholder="请输入姓名" class="layui-input" lay-reqText="请输入姓名">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">班级</label>
                    <div class="layui-input-block">
                        <input type="text"  name="classes" lay-verify="required|title" autocomplete="off"
                               placeholder="请输入班级" class="layui-input" lay-reqText="请输入班级">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">辅导员</label>
                    <div class="layui-input-block">
                        <input type="text"  name="counselor" lay-verify="required|title" autocomplete="off"
                               placeholder="请输入辅导员姓名" class="layui-input" lay-reqText="请输入辅导员姓名">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">专业</label>
                    <div class="layui-input-block">
                        <input type="text"  name="department" lay-verify="required|title" autocomplete="off"
                               placeholder="请输入院系" class="layui-input" lay-reqText="请输入院系">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">学历层次</label>
                    <div class="layui-input-block">
                        <select name="levels" lay-verify="required" lay-reqText="请选择学历层次">
                            <option id="level" value="" selected>请选择学历层次</option>
                            <option id="level01" value="专科" >专科</option>
                            <option id="level02" value="本科">本科</option>
                            <option id="level03" value="硕士">硕士</option>
                            <option id="level04" value="博士">博士</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-block">
                        <input type="text"  name="phone" lay-verify="required|phone" autocomplete="off"
                               placeholder="请输入手机号码" class="layui-input" lay-reqText="请输入手机号码">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="1" title="男">
                        <input type="radio" name="sex" value="2" title="女" checked>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="user-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="../../../component/layui/layui.js"></script>
<script src="../../../component/pear/pear.js"></script>
<script>
layui.use(['form','jquery','loading'],function(){
    let form = layui.form;
    let $ = layui.jquery;
    let loading = layui.loading;
    form.on('submit(user-save)', function(data){
        //console.log(data.field);
        loading.Load(3,"");
        $.ajax({
            url:'/admin/stu/addStudent',
            data: data.field,
            dataType:'json',
            contentType:'application/json',
            type:'get',
            success:function(result){
                loading.loadRemove();
                //console.log(JSON.stringify(result.data));
                if(result.success){
                    layer.msg(result.msg,{icon:1,time:1000},function(){
                        parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                        //console.log(JSON.stringify(result.data));
                        parent.layui.table.reload("user-table",{
                            data:result.data,
                            page: {
                                layout: ['count', 'prev', 'page', 'next', 'skip']
                                , curr: parent.layui.jquery(".layui-laypage-em").next().html()
                                ,groups:3
                                ,last: false
                            }
                        });
                    });
                }else{
                    layer.msg(result.msg,{icon:2,time:1500});
                }
            }
        })
        return false;
    });
    $('#userId').blur(function (){
        if ($('#userId').val()==''){
            return false;
        }
        $.ajax({
            url:'/admin/stu/search',
            data:{
                userId:$('#userId').val()
            },
            dataType:'json',
            contentType:'application/json',
            type:'get',
            success:function(result){
                console.log(result);
                if (result.count<=0){
                    $('#userIdTips').hide();
                }else {
                    $('#userIdTips').show();
                }
            },
            error:function (result){
                console.log(result);
            }
        })
    })
    // $('#userId').focus(function (){
    //     $('#userIdTips').hide();
    // })
})
</script>
<script>
</script>
</body>
</html>