<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增学院</title>
    <link rel="stylesheet" href="../../../component/pear/css/pear.css"/>
</head>
<body>
<form class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">学院ID</label>
                    <div class="layui-input-block">
                        <input id="collegeId" type="text" name="collegeId" value="" lay-verify="required"
                               autocomplete="off"
                               placeholder="请输入学院ID" class="layui-input"
                               lay-reqText="请输入学院ID">
                        <span class="layui-badge"
                              id="userIdTips" style="text-align: center;display: none">该学院已存在
                        </span>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">学院名称</label>
                    <div class="layui-input-block">
                        <input id="collegeName" type="text" name="collegeName" lay-verify="required" autocomplete="off"
                               placeholder="请输入学院名称"
                               class="layui-input" lay-reqText="请输入学院名称">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">学院概述</label>
                    <div class="layui-input-block">
                        <textarea id="collegeIntroduce" name="collegeIntroduce" required lay-verify="title" placeholder="请输入学院概述"
                                  class="layui-textarea" style="height: 210px"></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="user-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
        </div>
    </div>
</form>
<script src="../../../component/layui/layui.js"></script>
<script src="../../../component/pear/pear.js"></script>
<script>
    layui.use(['form', 'jquery', 'loading', 'laydate'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let loading = layui.loading;
        let laydate = layui.laydate;

        laydate.render({
            elem: '#birthday' //或 elem: document.getElementById('test')、elem: lay('#test') 等
            , theme: 'molv'
            , calendar: true
        });



        form.on('submit(user-save)', function (data) {
            //console.log(data.field);
            loading.Load(3, "");
            $.ajax({
                url: '/College/addCollege',
                data: data.field,
                dataType: 'json',
                type: 'post',
                success: function (result) {
                    loading.loadRemove();
                    console.log(result);
                    if (result.success == '1') {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            //console.log(JSON.stringify(result.data));
                            parent.layui.table.reload("user-table", {
                                data: result.data,
                                page: {
                                    layout: ['count', 'prev', 'page', 'next', 'skip']
                                    , curr: parent.layui.jquery(".layui-laypage-em").next().html()
                                    , groups: 3
                                    , last: false
                                }
                            });
                        });
                    } else {
                        layer.open({
                            title: '提示'
                            , icon: 2
                            , content: result.msg
                        });
                    }
                }
            })
            return false;
        });
        //前端实时检测用户是否存在
        $('#collegeId').blur(function () {
            if ($('#collegeId').val() == '') {
                return false;
            }
            $('#userIdTips').append('<i class="tipsLoad layui-icon layui-icon-loading layui-anim layui-anim-rotate ' +
                'layui-anim-loop"></i>');
            $.ajax({
                url: '/College/getCollegeById',
                data: {
                    collegeId: $('#collegeId').val()
                },
                dataType: 'json',
                type: 'get',
                success: function (result) {
                    $('.tipsLoad').remove();
                    console.log(result);
                    if (result.count <= 0) {
                        $('#userIdTips').hide();
                    } else {
                        $('#userIdTips').show();
                    }
                },
                error: function (result) {
                    console.log(result);
                }
            })
        })
    })
</script>
<script>
</script>
</body>
</html>