<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>资源中心</title>
    <link rel="stylesheet" href="../../component/pear/css/pear.css"/>
    <link rel="stylesheet" href="../../admin/css/other/department.css"/>
</head>
<style>
    .t-click {
        user-select: none;
        font-weight: 500;
    }

    /* zdy主题风格*/
    .dtree-zdy-item-this {
        background-color: rgba(224, 222, 222, 0.86) !important;
    }

    /* 当前选中行样式*/
    .dtree-zdy-item:hover {
        background-color: #f2f2f2 !important;
    }

    /* 行悬停样式*/
    .dtree-zdy-item cite {
        font-size: 14px !important;
    }

    /* 行文字样式*/
    .dtree-zdy-item:hover cite {
        color: #096a3b !important
    }

    /* 行悬停文字样式*/
    .dtree-zdy-dtreefont {
        font-size: 30px !important;
    }

    /* 一级图标、二级图标、复选框样式*/
    .dtree-zdy-ficon {
        color: #2F4056 !important;
    }

    /*一级图标特定样式*/
    .dtree-zdy-icon {
        color: #2F4056 !important;
    }

    /*二级图标特定样式*/
    .dtree-zdy-checkbox:hover {
        color: #11824b !important;
    }

    /*复选框悬停样式*/
    .dtree-zdy-choose {
        color: #11824b !important;
    }

    /* 复选框选中样式*/
    .dtree-icon-xiangyou {
        font-size: 18px !important;
    }

    .dtree-icon-xiangxia1 {
        font-size: 18px !important;
    }

    .dtree-zdy-checkbox {
        font-size: 18px !important;
    }

    .dtree-zdy-item {
        line-height: 50px;
    }

</style>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="queryForm" class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">学科名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="courseName" placeholder="请输入学科名称" class="layui-input">
                    </div>
                </div>
                <!--						<div class="layui-form-item layui-inline">-->
                <!--							<label class="layui-form-label">邮箱</label>-->
                <!--							<div class="layui-input-inline">-->
                <!--								<input type="text" name="realName" placeholder="" class="layui-input">-->
                <!--							</div>-->
                <!--						</div>-->
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-success" lay-submit lay-filter="resource-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-form-item layui-inline">
                    <button id="files_load" class="layui-btn layui-btn-sm" lay-submit lay-filter="files_load">
                        <i class="layui-icon layui-icon-download-circle"></i>
                        批量下载
                    </button>
                </div>
                <div id="organizationTreeContent" style="overflow: auto">
                    <ul id="organizationTree" class="dtree organizationTree" data-id="2014"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>

<script>

    layui.use(['table', 'form', 'jquery', 'dtree'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let dtree = layui.dtree;

        $("#files_load").click(function () {
            let params = dtree.getCheckbarNodesParam("organizationTree");
            let contexts = new Array()
            for (let i = 0; i < params.length; i++) {
                contexts[i] = params[i].context
            }
            layer.msg('开始下载文件');
            let secParentId = dtree.getParam('organizationTree', params[0].parentId).parentId;
            let fileForm = $("<form action='/Resource/downloadResource' method='post'></form>")
            fileForm.append("<input type='hidden' name='contexts' value='" + JSON.stringify(contexts) + "'/>")
            fileForm.append("<input type='hidden' name='teacherId' value='" +
                dtree.getParam('organizationTree', params[0].parentId).basicData.teacherId + "'/>")
            fileForm.append("<input type='hidden' name='course' value='" +
                dtree.getParam('organizationTree', secParentId).context + "'/>")
            $(document.body).append(fileForm);
            fileForm.submit();
            fileForm.remove();
        });

        form.on('submit(resource-query)', function (data) {
            console.log(data.field);
            $.ajax({
                url: '/Resource/selectByCourseName',
                dataType: 'json',
                data: data.field,
                type: 'post',
                success: function (res) {
                    console.log('res.data');
                    console.log(res.data);
                    if (res.data !== '') {
                        DTree.reload({
                            data: res.data
                        })
                    } else {

                    }

                },
                error: function (res) {
                    console.log(res);
                }
            })

            return false;
        })


        let DTree = dtree.render({
            elem: "#organizationTree",
            iconfont: ["layui-icon", "dtreefont", "iconfont"],
            none: "文件目录加载失败，请重新尝试",
            initLevel: "1", //默认展开层级为1
            line: false, // 有线树
            // ficon: ["1", "-1"], // 设定一级图标样式。0表示方形加减图标，8表示小圆点图标
            // icon: ["0", "2"], // 设定二级图标样式。0表示文件夹图标，5表示叶子图标
            method: 'post',
            checkbar: true,
            checkbarType: "all",
            record: true,
            skin: "zdy",
            url: "/Resource/getInfo",
            beforeSend(ajax, self) {
                return true;
            },
            iconfontStyle: [{
                fnode: {  //一级节点
                    node: {  //非叶子节点
                        open: "dtree-icon-xiangxia1",  //节点展开
                        close: "dtree-icon-xiangyou"  //节点关闭
                    },
                    leaf: "dtree-icon-normal-file"  //叶子节点
                }, snode: {  //二级节点

                    leaf: ""  //叶子节点
                }
            }],
            success: function (res, $obj, first) {
                console.log(res);
            },
            formatter: {
                title: function (data) {  // 示例给有子集的节点返回节点统计
                    //console.log(data);
                    let s = data.title;
                    if (data.last) {
                        s += ' <span style=\'color:#ce0690\'>' +
                            '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;创建日期:' +
                            data.basicData.createTime + '</span>';
                    }
                    return s;
                }
            },

        });

        // 绑定节点点击事件
        dtree.on("node(organizationTree)", function (obj) {
            console.log(obj.param);
            let param = dtree.getParentParam(DTree, obj.param.nodeId);
            console.log(param);
            let role = '';
            if (obj.param.nodeId == '001') {
                role = '0';
                //DTree.clickSpread($div); //调用内置函数展开节点
            } else if (obj.param.nodeId == '002') {
                role = '1';
                //table.reload("organization-table");
            } else if (obj.param.nodeId == '003') {
                role = '2';
            } else {
                role = '';
            }
        });


    })
</script>
</body>
</html>
