<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scs.dao.CourseMapper">
    <select id="getCourse" resultType="com.scs.pojo.course">
        select * from scs.course
    </select>
    <update id="updateCourse" parameterType="com.scs.pojo.course">
        update course
        <set>
            <if test="courseId !=null and courseId !=''">
                courseId=#{courseId},
            </if>
            <if test="courseName !=null and courseName !=''">
                courseName=#{courseName},
            </if>
            <if test="courseScore !=null and courseScore !=''">
                courseScore=#{courseScore},
            </if>
            <if test="courseTime !=null and courseTime !=''">
                courseTime=#{courseTime},
            </if>
        </set>
        where courseId=#{courseId}
    </update>
    <insert id="insertCourse" parameterType="com.scs.pojo.course">
        insert into course(courseId,courseName,courseScore,courseTime)
        values (#{courseId},#{courseName},#{courseScore},#{courseTime})
    </insert>

    <delete id="deleteCourse" parameterType="String">
        delete from
        course
        where courseId=#{courseId}
    </delete>
    <delete id="batchRemoveCourse" parameterType="java.util.List">
        delete
        from course
        where courseId in (
        <foreach collection="list" item="courseId" separator=",">
            #{courseId}
        </foreach>
        )
    </delete>
    <select id="batchSelectCourse" parameterType="java.util.List" resultType="com.scs.pojo.course">
        select * from course
        where courseId in(
        <foreach collection="list" item="courseId" separator=",">
            #{courseId}
        </foreach>
        )
    </select>
</mapper>