<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定Mapper接口-->
<mapper namespace="com.scs.dao.majorMapper">
    <insert id="addMajor" parameterType="com.scs.pojo.major">
        insert into major(majorId,majorName,majorType,academy)
        values (#{majorId},#{majorName},#{majorType},#{academy})
    </insert>
    
    <delete id="deleteMajor" parameterType="String">
        delete from major 
        where majorName = #{majorName}
    </delete>
    <update id="updateMajor" parameterType="com.scs.pojo.major">
        update major
        <set>
            <if test="majorId !=null and majorId!=''">
                majorId=#{majorId},
            </if>
            <if test="majorName !=null and majorName!=''">
                majorName=#{majorName},
            </if>
            <if test="majorType !=null and majorType!=''">
                majorType=#{majorType},
            </if>
            <if test="academy !=null and academy!=''">
                academy=#{academy},
            </if>
        </set>
        where majorId = #{majorId}
    </update>
    <select id="selectAllMajor" resultType="com.scs.pojo.major">
        select *
        from major
    </select>
    
    <select id="selectByMajorName" resultType="com.scs.pojo.major" parameterType="String">
        select *
        from major
        where majorName=#{majorName}
    </select>

    <delete id="batchRemoveMajors" parameterType="java.util.List">
        delete
        from major
        where majorId in (
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>
</mapper>