<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定Mapper接口-->
<mapper namespace="com.scs.dao.relationMapper">
    <insert id="relationInsert" parameterType="com.scs.pojo.relation">
        insert into relation(relationId,collegeId,collegeName,majorId,majorName,classId,classes,courseId,courseName,teacherId,teacherName)
        values (#{relationId},#{collegeId},#{collegeName},#{majorId},#{majorName},#{classId},#{classes},#{courseId},#{courseName},#{teacherId},#{teacherName})
    </insert>
    <select id="getAllRelation" resultType="com.scs.pojo.relation">
        select *
        from relation
    </select>
    <delete id="batchDeleteRelation" parameterType="java.util.List">
        delete from relation
        where relationId in (
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>
    <select id="selectRelationByTeacherId" parameterType="String" resultType="com.scs.pojo.relation">
        select * from relation
        where teacherId=#{teacherId}
    </select>
</mapper>