<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定Mapper接口-->
<mapper namespace="com.scs.dao.studentMapper">
    <select id="getStudents" resultType="com.scs.pojo.student">
        select *
        from students
    </select>
    <select id="getStudentById" resultType="com.scs.pojo.student" parameterType="string">
        select *
        from students
        <where>
            <if test="userId != null and userId != ''">
                userId = #{userId}
            </if>
        </where>
    </select>

    <insert id="addStudent" parameterType="com.scs.pojo.student">
        insert into students(userid, Major, realName, sex, phone, levels, classes, addr)
        values (#{userId}, #{Major}, #{realName}, #{sex}, #{phone}, #{levels}, #{classes}, #{addr})
    </insert>

    <delete id="batchRemove" parameterType="java.util.List">
        delete
        from students
        where userId in (
            <foreach collection="list" item="id" separator=",">
            #{id}
            </foreach>
            )
    </delete>


    <delete id="removeStudent" parameterType="java.lang.String">
        delete
        from students
        where userId = #{userId}
    </delete>

    <update id="updateStudent" parameterType="com.scs.pojo.student">
        update students
        <set>
            <if test="userId !=null and userId!=''">
                userId=#{userId},
            </if>
            <if test="Major !=null and Major!=''">
                Major=#{Major},
            </if>
            <if test="realName !=null and realName!=''">
                realName=#{realName},
            </if>
            <if test="sex !=null and sex!=''">
                sex=#{sex},
            </if>
            <if test="phone !=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="levels !=null and levels!=''">
                levels=#{levels},
            </if>
            <if test="classes !=null and classes!=''">
                classes=#{classes},
            </if>
            <if test="addr !=null and addr!=''">
                addr=#{addr},
            </if>
        </set>
        where userId = #{userId}
    </update>
</mapper>